fieldset.border {
  border-color: darkgray !important;
}

legend {
  font-size: 14px;
}

.btn-process {
  color: green;
  background-color: white;
  border-radius: 20px;
}

.btn-121 {
  color: red;
  background-color: blue;
  border-radius: 20px;
}
