<div class="card w-50">
  <form>
    <div class="mb-3">
      <label for="column0" class="form-label">Column 0</label>
      <input type="text" class="form-control" id="column0" [value]="dataModel.column_0 || ''">
    </div>
    <div class="mb-3">
      <label for="column1" class="form-label">Column 1</label>
      <input type="text" class="form-control" id="column1" [value]="dataModel.column_1 || ''">
    </div>
    <div class="mb-3">
      <label for="column2" class="form-label">Column 2</label>
      <input type="text" class="form-control" id="column2" [value]="dataModel.column_2 || ''">
    </div>
    <div class="mb-3">
      <label for="column3" class="form-label">Column 3</label>
      <input type="text" class="form-control" id="column3" [value]="dataModel.column_3 || ''">
    </div>
    <div class="mb-3">
      <label for="column4" class="form-label">Column 4</label>
      <input type="text" class="form-control" id="column4" [value]="dataModel.column_4 || ''">
    </div>
  </form>
  <div class="row">
    <div class="col"><p>Click <a routerLink="/">here</a> to go back to home</p></div>
  </div>
</div>
