<div class="card">
  <h2 *ngIf="isLoading; else loaded">Loading...</h2>
  <ng-template #loaded>
    <table class="table table-bordered" *ngIf="fileFound">
      <thead>
      <tr>
        <th scope="col" sortable sortColumn="column_0" (sort)="onSort($event)">COLUMN_0</th>
        <th scope="col" sortable sortColumn="column_1" (sort)="onSort($event)">COLUMN_1</th>
        <th scope="col" sortable sortColumn="column_2" (sort)="onSort($event)">COLUMN_2</th>
        <th scope="col" sortable sortColumn="column_3" (sort)="onSort($event)">COLUMN_3</th>
        <th scope="col" sortable sortColumn="column_4" (sort)="onSort($event)">COLUMN_4</th>
      </tr>
      </thead>
      <tbody>
      <tr class="pointer" *ngFor="let d of data" appHighlight value="{{d.column_0}}"
          (click)="onSingleClick(d, $event)" (dblclick)="onDoubleClick(d, $event)">
        <th scope="row">{{ d.column_0 }}</th>
        <td>{{ d.column_1 }}</td>
        <td>{{ d.column_2 }}</td>
        <td>{{ d.column_3 }}</td>
        <td>{{ d.column_4 }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="!fileFound">
      <div class="col"><h2>File not found.</h2></div>
    </div>
  </ng-template>
</div>
